# College degree subjects by age and gender

Based on a new Census table, S1502, at the state and town level: http://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_15_5YR_S1502&prodType=table

In [1]:
import pandas as pd, numpy as np

In [70]:
class jdf:
    
    def __init__(self,df):
        self.df = df
    
    def printcols(self):
        for c in self.df.columns:
            print c
            
    def compcols(self, odf):
        return self.df.columns == odf.columns
    
    def diffcols(self, odf):
        matches = self.compcols(odf)
        for i in range(len(matches)):
            if not matches[i]:
                print i + ": " + self.df.columns[i]

In [71]:
ct_towns = pd.read_csv("data/college_majors/ct_towns_ACS_15_5YR_S1502/ACS_15_5YR_S1502_with_ann.csv",skiprows=1)
ct_towns.head()

,Id,Id2,Geography,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,...,"Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others"
0,0600000US0900100000,900100000,"County subdivisions not defined, Fairfield Cou...",0,12,(X),(X),0,12,(X),...,-,**,0,12,-,**,0,12,-,**
1,0600000US0900104720,900104720,"Bethel town, Fairfield County, Connecticut",5705,458,(X),(X),2495,240,(X),...,26.1,10.8,34,31,7.9,7.2,187,83,45.2,17.4
2,0600000US0900108070,900108070,"Bridgeport town, Fairfield County, Connecticut",15975,954,(X),(X),7448,651,(X),...,24.3,6.3,195,87,19.4,8.3,265,78,29.8,7.7
3,0600000US0900108980,900108980,"Brookfield town, Fairfield County, Connecticut",5504,440,(X),(X),2649,293,(X),...,13.2,6.0,57,41,9.8,6.9,69,45,18.3,11.1
4,0600000US0900118500,900118500,"Danbury town, Fairfield County, Connecticut",17351,914,(X),(X),8372,547,(X),...,20.9,5.2,239,62,18.3,5.1,331,124,23.4,7.5

In [72]:
states = pd.read_csv("data/college_majors/states_ACS_15_5YR_S1502/ACS_15_5YR_S1502_with_ann.csv",skiprows=1)
states.head()

,Id,Id2,Geography,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,...,"Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others"
0,0400000US01,1,Alabama,761650,6579,(X),(X),357552,3661,(X),...,17.5,0.6,11577,582,15.1,0.8,12555,668,20.4,1.0
1,0400000US02,2,Alaska,129921,2127,(X),(X),61107,1446,(X),...,18.7,1.8,1401,213,14.1,2.0,2089,269,24.0,2.7
2,0400000US04,4,Arizona,1199010,8330,(X),(X),601542,4971,(X),...,18.4,0.5,24461,855,15.5,0.5,26271,1205,22.2,0.9
3,0400000US05,5,Arkansas,414099,4420,(X),(X),194357,2512,(X),...,16.2,0.8,5784,425,13.5,1.0,6753,521,19.6,1.4
4,0400000US06,6,California,7939184,30774,(X),(X),3906345,15429,(X),...,23.2,0.2,135988,2385,18.2,0.3,185345,2698,29.2,0.4

In [73]:
jdf(states).printcols()

Id
Id2
Geography
Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Females; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent Females; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Total; Estimate; Science and Engineering
Total; Margin of Error; Science and Engineering
Percent; Estimate; Science and Engineering
Percent; Margin of Error; Science and Engineering
Males; Estimate; Science and Engineering
Males; Margin of Error; Science and Engineering
Percent Males; Estimate; Science and Engineering
Percent Males; Margin of Error; Science and Engineering
Females; Estimate; Science and Engineering
Females; Margin of Error; Science and Engineering
Percent Females; Estimate; Science and Engineering
Percent Females; Margin of Error; Science and Engineering
Total; Estimate; Science and Engineering Related Fields
Total; Margin of Error; Science and Engineering Related Fields
Percent; Estimate; Science and Engineering Related Fields
Percent; Margin of Error; Science and Engineering Related Fields
Males; Estimate; Science and Engineering Related Fields
Males; Margin of Error; Science and Engineering Related Fields
Percent Males; Estimate; Science and Engineering Related Fields
Percent Males; Margin of Error; Science and Engineering Related Fields
Females; Estimate; Science and Engineering Related Fields
Females; Margin of Error; Science and Engineering Related Fields
Percent Females; Estimate; Science and Engineering Related Fields
Percent Females; Margin of Error; Science and Engineering Related Fields
Total; Estimate; Business
Total; Margin of Error; Business
Percent; Estimate; Business
Percent; Margin of Error; Business
Males; Estimate; Business
Males; Margin of Error; Business
Percent Males; Estimate; Business
Percent Males; Margin of Error; Business
Females; Estimate; Business
Females; Margin of Error; Business
Percent Females; Estimate; Business
Percent Females; Margin of Error; Business
Total; Estimate; Education
Total; Margin of Error; Education
Percent; Estimate; Education
Percent; Margin of Error; Education
Males; Estimate; Education
Males; Margin of Error; Education
Percent Males; Estimate; Education
Percent Males; Margin of Error; Education
Females; Estimate; Education
Females; Margin of Error; Education
Percent Females; Estimate; Education
Percent Females; Margin of Error; Education
Total; Estimate; Arts, Humanities and Others
Total; Margin of Error; Arts, Humanities and Others
Percent; Estimate; Arts, Humanities and Others
Percent; Margin of Error; Arts, Humanities and Others
Males; Estimate; Arts, Humanities and Others
Males; Margin of Error; Arts, Humanities and Others
Percent Males; Estimate; Arts, Humanities and Others
Percent Males; Margin of Error; Arts, Humanities and Others
Females; Estimate; Arts, Humanities and Others
Females; Margin of Error; Arts, Humanities and Others
Percent Females; Estimate; Arts, Humanities and Others
Percent Females; Margin of Error; Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 25 to 39 years
Total; Margin of Error; DETAILED AGE - 25 to 39 years
Percent; Estimate; DETAILED AGE - 25 to 39 years
Percent; Margin of Error; DETAILED AGE - 25 to 39 years
Males; Estimate; DETAILED AGE - 25 to 39 years
Males; Margin of Error; DETAILED AGE - 25 to 39 years
Percent Males; Estimate; DETAILED AGE - 25 to 39 years
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years
Females; Estimate; DETAILED AGE - 25 to 39 years
Females; Margin of Error; DETAILED AGE - 25 to 39 years
Percent Females; Estimate; DETAILED AGE - 25 to 39 years
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years
Total; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Total; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 25 to 39 years - Business
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Males; Estimate; DETAILED AGE - 25 to 39 years - Business
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Females; Estimate; DETAILED AGE - 25 to 39 years - Business
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Total; Estimate; DETAILED AGE - 25 to 39 years - Education
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Males; Estimate; DETAILED AGE - 25 to 39 years - Education
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Females; Estimate; DETAILED AGE - 25 to 39 years - Education
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Total; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 40 to 64 years
Total; Margin of Error; DETAILED AGE - 40 to 64 years
Percent; Estimate; DETAILED AGE - 40 to 64 years
Percent; Margin of Error; DETAILED AGE - 40 to 64 years
Males; Estimate; DETAILED AGE - 40 to 64 years
Males; Margin of Error; DETAILED AGE - 40 to 64 years
Percent Males; Estimate; DETAILED AGE - 40 to 64 years
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years
Females; Estimate; DETAILED AGE - 40 to 64 years
Females; Margin of Error; DETAILED AGE - 40 to 64 years
Percent Females; Estimate; DETAILED AGE - 40 to 64 years
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years
Total; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Total; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 40 to 64 years - Business
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Males; Estimate; DETAILED AGE - 40 to 64 years - Business
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Females; Estimate; DETAILED AGE - 40 to 64 years - Business
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Total; Estimate; DETAILED AGE - 40 to 64 years - Education
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Males; Estimate; DETAILED AGE - 40 to 64 years - Education
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Females; Estimate; DETAILED AGE - 40 to 64 years - Education
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Total; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 65 years and over
Total; Margin of Error; DETAILED AGE - 65 years and over
Percent; Estimate; DETAILED AGE - 65 years and over
Percent; Margin of Error; DETAILED AGE - 65 years and over
Males; Estimate; DETAILED AGE - 65 years and over
Males; Margin of Error; DETAILED AGE - 65 years and over
Percent Males; Estimate; DETAILED AGE - 65 years and over
Percent Males; Margin of Error; DETAILED AGE - 65 years and over
Females; Estimate; DETAILED AGE - 65 years and over
Females; Margin of Error; DETAILED AGE - 65 years and over
Percent Females; Estimate; DETAILED AGE - 65 years and over
Percent Females; Margin of Error; DETAILED AGE - 65 years and over
Total; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Total; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Total; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 65 years and over - Business
Total; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent; Estimate; DETAILED AGE - 65 years and over - Business
Percent; Margin of Error; DETAILED AGE - 65 years and over - Business
Males; Estimate; DETAILED AGE - 65 years and over - Business
Males; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent Males; Estimate; DETAILED AGE - 65 years and over - Business
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Business
Females; Estimate; DETAILED AGE - 65 years and over - Business
Females; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent Females; Estimate; DETAILED AGE - 65 years and over - Business
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Business
Total; Estimate; DETAILED AGE - 65 years and over - Education
Total; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent; Estimate; DETAILED AGE - 65 years and over - Education
Percent; Margin of Error; DETAILED AGE - 65 years and over - Education
Males; Estimate; DETAILED AGE - 65 years and over - Education
Males; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent Males; Estimate; DETAILED AGE - 65 years and over - Education
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Education
Females; Estimate; DETAILED AGE - 65 years and over - Education
Females; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent Females; Estimate; DETAILED AGE - 65 years and over - Education
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Education
Total; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others

In [74]:
jdf(states).diffcols(ct_towns)

In [86]:
# degree types
degrees = ["Science and Engineering","Science and Engineering Related Fields",
           "Business","Education","Arts, Humanities and Others"]

# How many people have 
def have_degrees(df,group="Total"):
    cols = ["Geography"]
    cols.append(group + "; Estimate; Total population 25 years and over with a Bachelor's degree or higher")
    
    return df[cols].set_index("Geography")

have_degrees(states)#.sum()

                      Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Geography
Alabama                                                          761650
Alaska                                                           129921
Arizona                                                         1199010
Arkansas                                                         414099
California                                                      7939184
Colorado                                                        1342007
Connecticut                                                      925607
Delaware                                                         189362
District of Columbia                                             247752
Florida                                                         3780148
Georgia                                                         1873484
Hawaii                                                           296714
Idaho                                                            266589
Illinois                                                        2777871
Indiana                                                         1040256
Iowa                                                             546414
Kansas                                                           580214
Kentucky                                                         658944
Louisiana                                                        685312
Maine                                                            276161
Maryland                                                        1522970
Massachusetts                                                   1867103
Michigan                                                        1791892
Minnesota                                                       1225245
Mississippi                                                      401000
Missouri                                                        1098909
Montana                                                          203448
Nebraska                                                         355836
Nevada                                                           433498
New Hampshire                                                    322746
New Jersey                                                      2241856
New Mexico                                                       360075
New York                                                        4596124
North Carolina                                                  1866765
North Dakota                                                     129534
Ohio                                                            2040028
Oklahoma                                                         606229
Oregon                                                           835057
Pennsylvania                                                    2522037
Rhode Island                                                     229817
South Carolina                                                   829540
South Dakota                                                     148801
Tennessee                                                       1092276
Texas                                                           4623216
Utah                                                             521037
Vermont                                                          157018
Virginia                                                        2022217
Washington                                                      1552130
West Virginia                                                    248673
Wisconsin                                                       1077696
Wyoming                                                           98800
Puerto Rico                                                      583572

In [108]:
ed_states_2010 = pd.read_csv("data/education/states/ACS_10_5YR_B16010/ACS_10_5YR_B16010_with_ann.csv",skiprows=1)\
.set_index("Geography")
ed_states_2015 = pd.read_csv("data/education/states/ACS_15_5YR_B16010/ACS_15_5YR_B16010_with_ann.csv",skiprows=1)\
.set_index("Geography")

#jdf(edu_states_2015).printcols()

In [109]:
ed_towns_2010 = pd.read_csv("data/education/ct_towns/ACS_10_5YR_B16010/ACS_10_5YR_B16010_with_ann.csv",skiprows=1)\
.set_index("Geography")
ed_towns_2015 = pd.read_csv("data/education/ct_towns/ACS_15_5YR_B16010/ACS_15_5YR_B16010_with_ann.csv",skiprows=1)\
.set_index("Geography")

In [111]:
jdf(ed_states_2010).printcols()

Id
Id2
Estimate; Total:
Margin of Error; Total:
Estimate; Less than high school graduate:
Margin of Error; Less than high school graduate:
Estimate; Less than high school graduate: - In labor force:
Margin of Error; Less than high school graduate: - In labor force:
Estimate; Less than high school graduate: - In labor force: - Speak only English
Margin of Error; Less than high school graduate: - In labor force: - Speak only English
Estimate; Less than high school graduate: - In labor force: - Speak Spanish
Margin of Error; Less than high school graduate: - In labor force: - Speak Spanish
Estimate; Less than high school graduate: - In labor force: - Speak other Indo-European languages
Margin of Error; Less than high school graduate: - In labor force: - Speak other Indo-European languages
Estimate; Less than high school graduate: - In labor force: - Speak Asian and Pacific Island languages
Margin of Error; Less than high school graduate: - In labor force: - Speak Asian and Pacific Island languages
Estimate; Less than high school graduate: - In labor force: - Speak other languages
Margin of Error; Less than high school graduate: - In labor force: - Speak other languages
Estimate; Less than high school graduate: - Not in labor force:
Margin of Error; Less than high school graduate: - Not in labor force:
Estimate; Less than high school graduate: - Not in labor force: - Speak only English
Margin of Error; Less than high school graduate: - Not in labor force: - Speak only English
Estimate; Less than high school graduate: - Not in labor force: - Speak Spanish
Margin of Error; Less than high school graduate: - Not in labor force: - Speak Spanish
Estimate; Less than high school graduate: - Not in labor force: - Speak other Indo-European languages
Margin of Error; Less than high school graduate: - Not in labor force: - Speak other Indo-European languages
Estimate; Less than high school graduate: - Not in labor force: - Speak Asian and Pacific Island languages
Margin of Error; Less than high school graduate: - Not in labor force: - Speak Asian and Pacific Island languages
Estimate; Less than high school graduate: - Not in labor force: - Speak other languages
Margin of Error; Less than high school graduate: - Not in labor force: - Speak other languages
Estimate; High school graduate (includes equivalency):
Margin of Error; High school graduate (includes equivalency):
Estimate; High school graduate (includes equivalency): - In labor force:
Margin of Error; High school graduate (includes equivalency): - In labor force:
Estimate; High school graduate (includes equivalency): - In labor force: - Speak only English
Margin of Error; High school graduate (includes equivalency): - In labor force: - Speak only English
Estimate; High school graduate (includes equivalency): - In labor force: - Speak Spanish
Margin of Error; High school graduate (includes equivalency): - In labor force: - Speak Spanish
Estimate; High school graduate (includes equivalency): - In labor force: - Speak other Indo-European languages
Margin of Error; High school graduate (includes equivalency): - In labor force: - Speak other Indo-European languages
Estimate; High school graduate (includes equivalency): - In labor force: - Speak Asian and Pacific Island languages
Margin of Error; High school graduate (includes equivalency): - In labor force: - Speak Asian and Pacific Island languages
Estimate; High school graduate (includes equivalency): - In labor force: - Speak other languages
Margin of Error; High school graduate (includes equivalency): - In labor force: - Speak other languages
Estimate; High school graduate (includes equivalency): - Not in labor force:
Margin of Error; High school graduate (includes equivalency): - Not in labor force:
Estimate; High school graduate (includes equivalency): - Not in labor force: - Speak only English
Margin of Error; High school graduate (includes equivalency): - Not in labor force: - Speak only English
Estimate; High school graduate (includes equivalency): - Not in labor force: - Speak Spanish
Margin of Error; High school graduate (includes equivalency): - Not in labor force: - Speak Spanish
Estimate; High school graduate (includes equivalency): - Not in labor force: - Speak other Indo-European languages
Margin of Error; High school graduate (includes equivalency): - Not in labor force: - Speak other Indo-European languages
Estimate; High school graduate (includes equivalency): - Not in labor force: - Speak Asian and Pacific Island languages
Margin of Error; High school graduate (includes equivalency): - Not in labor force: - Speak Asian and Pacific Island languages
Estimate; High school graduate (includes equivalency): - Not in labor force: - Speak other languages
Margin of Error; High school graduate (includes equivalency): - Not in labor force: - Speak other languages
Estimate; Some college or associate's degree:
Margin of Error; Some college or associate's degree:
Estimate; Some college or associate's degree: - In labor force:
Margin of Error; Some college or associate's degree: - In labor force:
Estimate; Some college or associate's degree: - In labor force: - Speak only English
Margin of Error; Some college or associate's degree: - In labor force: - Speak only English
Estimate; Some college or associate's degree: - In labor force: - Speak Spanish
Margin of Error; Some college or associate's degree: - In labor force: - Speak Spanish
Estimate; Some college or associate's degree: - In labor force: - Speak other Indo-European languages
Margin of Error; Some college or associate's degree: - In labor force: - Speak other Indo-European languages
Estimate; Some college or associate's degree: - In labor force: - Speak Asian and Pacific Island languages
Margin of Error; Some college or associate's degree: - In labor force: - Speak Asian and Pacific Island languages
Estimate; Some college or associate's degree: - In labor force: - Speak other languages
Margin of Error; Some college or associate's degree: - In labor force: - Speak other languages
Estimate; Some college or associate's degree: - Not in labor force:
Margin of Error; Some college or associate's degree: - Not in labor force:
Estimate; Some college or associate's degree: - Not in labor force: - Speak only English
Margin of Error; Some college or associate's degree: - Not in labor force: - Speak only English
Estimate; Some college or associate's degree: - Not in labor force: - Speak Spanish
Margin of Error; Some college or associate's degree: - Not in labor force: - Speak Spanish
Estimate; Some college or associate's degree: - Not in labor force: - Speak other Indo-European languages
Margin of Error; Some college or associate's degree: - Not in labor force: - Speak other Indo-European languages
Estimate; Some college or associate's degree: - Not in labor force: - Speak Asian and Pacific Island languages
Margin of Error; Some college or associate's degree: - Not in labor force: - Speak Asian and Pacific Island languages
Estimate; Some college or associate's degree: - Not in labor force: - Speak other languages
Margin of Error; Some college or associate's degree: - Not in labor force: - Speak other languages
Estimate; Bachelor's degree or higher:
Margin of Error; Bachelor's degree or higher:
Estimate; Bachelor's degree or higher: - In labor force:
Margin of Error; Bachelor's degree or higher: - In labor force:
Estimate; Bachelor's degree or higher: - In labor force: - Speak only English
Margin of Error; Bachelor's degree or higher: - In labor force: - Speak only English
Estimate; Bachelor's degree or higher: - In labor force: - Speak Spanish
Margin of Error; Bachelor's degree or higher: - In labor force: - Speak Spanish
Estimate; Bachelor's degree or higher: - In labor force: - Speak other Indo-European languages
Margin of Error; Bachelor's degree or higher: - In labor force: - Speak other Indo-European languages
Estimate; Bachelor's degree or higher: - In labor force: - Speak Asian and Pacific Island languages
Margin of Error; Bachelor's degree or higher: - In labor force: - Speak Asian and Pacific Island languages
Estimate; Bachelor's degree or higher: - In labor force: - Speak other languages
Margin of Error; Bachelor's degree or higher: - In labor force: - Speak other languages
Estimate; Bachelor's degree or higher: - Not in labor force:
Margin of Error; Bachelor's degree or higher: - Not in labor force:
Estimate; Bachelor's degree or higher: - Not in labor force: - Speak only English
Margin of Error; Bachelor's degree or higher: - Not in labor force: - Speak only English
Estimate; Bachelor's degree or higher: - Not in labor force: - Speak Spanish
Margin of Error; Bachelor's degree or higher: - Not in labor force: - Speak Spanish
Estimate; Bachelor's degree or higher: - Not in labor force: - Speak other Indo-European languages
Margin of Error; Bachelor's degree or higher: - Not in labor force: - Speak other Indo-European languages
Estimate; Bachelor's degree or higher: - Not in labor force: - Speak Asian and Pacific Island languages
Margin of Error; Bachelor's degree or higher: - Not in labor force: - Speak Asian and Pacific Island languages
Estimate; Bachelor's degree or higher: - Not in labor force: - Speak other languages
Margin of Error; Bachelor's degree or higher: - Not in labor force: - Speak other languages

In [110]:
ed_states_2010["Estimate; Bachelor's degree or higher:"]

Geography
Alabama                  675076
Alaska                   116112
Arizona                 1057375
Arkansas                 360760
California              7063690
Colorado                1148749
Connecticut              843575
Delaware                 162651
District of Columbia     196513
Florida                 3313411
Georgia                 1647046
Hawaii                   266095
Idaho                    231387
Illinois                2526884
Indiana                  934292
Iowa                     486646
Kansas                   529091
Kentucky                 580971
Louisiana                597856
Maine                    246727
Maryland                1353079
Massachusetts           1678209
Michigan                1641383
Minnesota               1084157
Mississippi              365159
Missouri                 978650
Montana                  182330
Nebraska                 321224
Nevada                   378792
New Hampshire            294200
New Jersey              2037395
New Mexico               330033
New York                4149168
North Carolina          1597840
North Dakota             112977
Ohio                    1848454
Oklahoma                 538182
Oregon                   728241
Pennsylvania            2258056
Rhode Island             214958
South Carolina           714196
South Dakota             131234
Tennessee                943001
Texas                   3894123
Utah                     442289
Vermont                  141865
Virginia                1761162
Washington              1351723
West Virginia            221274
Wisconsin                964412
Wyoming                   84326
Puerto Rico              520969
Name: Estimate; Bachelor's degree or higher:, dtype: int64

# What percent of each state has a bachelor's degree or higher

In [123]:
def edu(df):
    ret = df.copy()[["Estimate; Total:","Estimate; Bachelor's degree or higher:"]]
    ret.columns = ["25_plus","bachelors"]
    ret["pct"] = ret["bachelors"] / ret["25_plus"]
    return ret

edu(ed_states_2010).sort_values(by="pct",ascending=False)

                       25_plus  bachelors       pct
Geography
District of Columbia    399457     196513  0.491950
Massachusetts          4382378    1678209  0.382945
Colorado               3201139    1148749  0.358856
Maryland               3789931    1353079  0.357019
Connecticut            2398283     843575  0.351741
New Jersey             5889519    2037395  0.345936
Virginia               5208536    1761162  0.338130
Vermont                 426409     141865  0.332697
New Hampshire           895399     294200  0.328569
New York              12914436    4149168  0.321281
Minnesota              3450999    1084157  0.314157
Washington             4360316    1351723  0.310006
Rhode Island            708598     214958  0.303357
Illinois               8345982    2526884  0.302767
California            23497945    7063690  0.300609
Hawaii                  903810     266095  0.294415
Utah                   1503241     442289  0.294224
Kansas                 1802904     529091  0.293466
Oregon                 2543151     728241  0.286354
Montana                 654124     182330  0.278739
Nebraska               1160884     321224  0.276706
Delaware                587903     162651  0.276663
Georgia                6052410    1647046  0.272131
Alaska                  429979     116112  0.270041
Maine                   929301     246727  0.265497
Pennsylvania           8558693    2258056  0.263832
Arizona                4017638    1057375  0.263183
North Dakota            429333     112977  0.263145
North Carolina         6121611    1597840  0.261016
Florida               12788471    3313411  0.259094
Wisconsin              3739243     964412  0.257916
Texas                 15116371    3894123  0.257610
New Mexico             1296627     330033  0.254532
South Dakota            518285     131234  0.253208
Missouri               3906865     978650  0.250495
Michigan               6561843    1641383  0.250141
Iowa                   1985012     486646  0.245160
Idaho                   952630     231387  0.242893
Ohio                   7655994    1848454  0.241439
South Carolina         2981382     714196  0.239552
Wyoming                 357859      84326  0.235640
Tennessee              4156132     943001  0.226894
Oklahoma               2380819     538182  0.226049
Indiana                4165617     934292  0.224287
Nevada                 1733764     378792  0.218480
Alabama                3108132     675076  0.217197
Puerto Rico            2429729     520969  0.214414
Louisiana              2856356     597856  0.209307
Kentucky               2856001     580971  0.203421
Mississippi            1876719     365159  0.194573
Arkansas               1885607     360760  0.191323
West Virginia          1282621     221274  0.172517

# Table 1. Percent of states' over 25 population with bach degrees
### 2010 versus 2015

In [128]:
def edu_change(df_2010,df_2015):
    df10 = edu(df_2010)
    df15 = edu(df_2015)
    
    ret = df10.join(df15,lsuffix="_2010",rsuffix="_2015")
    ret["change"] = ret["pct_2015"] - ret["pct_2010"]
    
    return ret
    
edu_change(ed_states_2010,ed_states_2015).sort_values(by="change",ascending=False)

,25_plus_2010,bachelors_2010,pct_2010,25_plus_2015,bachelors_2015,pct_2015,change
Geography,,,,,,,
District of Columbia,399457,196513,0.491950,453952,247752,0.545767,0.053817
Puerto Rico,2429729,520969,0.214414,2414831,583572,0.241662,0.027247
Vermont,426409,141865,0.332697,436657,157018,0.359591,0.026894
Virginia,5208536,1761162,0.338130,5566373,2022217,0.363292,0.025162
Maine,929301,246727,0.265497,952777,276161,0.289849,0.024351
Connecticut,2398283,843575,0.351741,2462855,925607,0.375827,0.024086
Delaware,587903,162651,0.276663,631118,189362,0.300042,0.023379
Minnesota,3450999,1084157,0.314157,3632992,1225245,0.337255,0.023098
North Carolina,6121611,1597840,0.261016,6582301,1866765,0.283604,0.022587
Tennessee,4156132,943001,0.226894,4380036,1092276,0.249376,0.022482
Colorado,3201139,1148749,0.358856,3520177,1342007,0.381233,0.022376
Pennsylvania,8558693,2258056,0.263832,8814112,2522037,0.286136,0.022304
New Jersey,5889519,2037395,0.345936,6091495,2241856,0.368031,0.022095
Massachusetts,4382378,1678209,0.382945,4610510,1867103,0.404967,0.022022
Maryland,3789931,1353079,0.357019,4018459,1522970,0.378994,0.021974
Wyoming,357859,84326,0.235640,384272,98800,0.257110,0.021469
Iowa,1985012,486646,0.245160,2049344,546414,0.266629,0.021469
Oregon,2543151,728241,0.286354,2714972,835057,0.307575,0.021221
New York,12914436,4149168,0.321281,13435795,4596124,0.342081,0.020799
Missouri,3906865,978650,0.250495,4052300,1098909,0.271182,0.020687
Wisconsin,3739243,964412,0.257916,3873119,1077696,0.278250,0.020334
New Hampshire,895399,294200,0.328569,925145,322746,0.348860,0.020291
Illinois,8345982,2526884,0.302767,8600178,2777871,0.323002,0.020235
Arkansas,1885607,360760,0.191323,1962741,414099,0.210980,0.019657
Kentucky,2856001,580971,0.203421,2955216,658944,0.222977,0.019555
Ohio,7655994,1848454,0.241439,7817508,2040028,0.260956,0.019518
Michigan,6561843,1641383,0.250141,6652665,1791892,0.269350,0.019209
West Virginia,1282621,221274,0.172517,1298118,248673,0.191564,0.019047
South Carolina,2981382,714196,0.239552,3210007,829540,0.258423,0.018871
Washington,4360316,1351723,0.310006,4721438,1552130,0.328741,0.018735
Texas,15116371,3894123,0.257610,16765143,4623216,0.275764,0.018154
Alabama,3108132,675076,0.217197,3239351,761650,0.235124,0.017928
Utah,1503241,442289,0.294224,1674198,521037,0.311216,0.016992
Kansas,1802904,529091,0.293466,1869698,580214,0.310325,0.016859
South Dakota,518285,131234,0.253208,551039,148801,0.270037,0.016829
Indiana,4165617,934292,0.224287,4316273,1040256,0.241008,0.016721
Louisiana,2856356,597856,0.209307,3040041,685312,0.225429,0.016121
Georgia,6052410,1647046,0.272131,6500205,1873484,0.288219,0.016089
Nebraska,1160884,321224,0.276706,1215400,355836,0.292773,0.016066
Montana,654124,182330,0.278739,690448,203448,0.294661,0.015922
Idaho,952630,231387,0.242893,1030748,266589,0.258636,0.015744
Rhode Island,708598,214958,0.303357,720641,229817,0.318906,0.015550
Oklahoma,2380819,538182,0.226049,2512392,606229,0.241296,0.015246
Florida,12788471,3313411,0.259094,13824205,3780148,0.273444,0.014351
Hawaii,903810,266095,0.294415,962052,296714,0.308418,0.014003
California,23497945,7063690,0.300609,25257858,7939184,0.314325,0.013716
North Dakota,429333,112977,0.263145,468030,129534,0.276764,0.013619
Mississippi,1876719,365159,0.194573,1940365,401000,0.206662,0.012089
Arizona,4017638,1057375,0.263183,4361304,1199010,0.274920,0.011737
Nevada,1733764,378792,0.218480,1884237,433498,0.230066,0.011586
Alaska,429979,116112,0.270041,464440,129921,0.279737,0.009696
New Mexico,1296627,330033,0.254532,1367822,360075,0.263247,0.008715

# Table 1. Percent of towns' over 25 population with bach degrees
### 2010 versus 2015

In [130]:
edu_change(ed_towns_2010,ed_towns_2015).sort_values(by="change",ascending=False)

,25_plus_2010,bachelors_2010,pct_2010,25_plus_2015,bachelors_2015,pct_2015,change
Geography,,,,,,,
"Haddam town, Middlesex County, Connecticut",5655,1827,0.323077,5993,3055,0.509761,0.186684
"Bolton town, Tolland County, Connecticut",3537,1246,0.352276,3581,1854,0.517732,0.165457
"Marlborough town, Hartford County, Connecticut",4383,1730,0.394707,4475,2411,0.538771,0.144064
"Lebanon town, New London County, Connecticut",5050,1396,0.276436,5299,2182,0.411776,0.135340
"Washington town, Litchfield County, Connecticut",2774,1132,0.408075,2657,1434,0.539706,0.131631
"Durham town, Middlesex County, Connecticut",4876,1945,0.398893,5061,2632,0.520055,0.121163
"Morris town, Litchfield County, Connecticut",1751,532,0.303826,1732,733,0.423210,0.119384
"Kent town, Litchfield County, Connecticut",2372,890,0.375211,2067,1006,0.486696,0.111485
"Warren town, Litchfield County, Connecticut",1095,414,0.378082,1122,532,0.474153,0.096071
"Newington town, Hartford County, Connecticut",21968,6546,0.297979,22538,8857,0.392981,0.095002
"Woodstock town, Windham County, Connecticut",5350,1784,0.333458,5732,2407,0.419923,0.086465
"Plainville town, Hartford County, Connecticut",12464,2368,0.189987,12913,3543,0.274375,0.084387
"Goshen town, Litchfield County, Connecticut",2178,825,0.378788,2220,1028,0.463063,0.084275
"Deep River town, Middlesex County, Connecticut",3365,1006,0.298960,3304,1261,0.381659,0.082699
"Derby town, New Haven County, Connecticut",8877,1678,0.189028,9123,2422,0.265483,0.076455
"East Granby town, Hartford County, Connecticut",3742,1510,0.403528,3679,1759,0.478119,0.074592
"Seymour town, New Haven County, Connecticut",11179,2835,0.253601,11209,3662,0.326702,0.073101
"Avon town, Hartford County, Connecticut",12154,7531,0.619631,12782,8853,0.692615,0.072983
"East Lyme town, New London County, Connecticut",14118,5333,0.377745,14187,6387,0.450201,0.072456
"Franklin town, New London County, Connecticut",1351,303,0.224278,1396,411,0.294413,0.070134
"South Windsor town, Hartford County, Connecticut",17297,7676,0.443776,17981,9206,0.511985,0.068208
"Middlebury town, New Haven County, Connecticut",5219,2456,0.470588,5330,2871,0.538649,0.068061
"Shelton town, Fairfield County, Connecticut",28171,9208,0.326861,29514,11618,0.393644,0.066783
"Groton town, New London County, Connecticut",24959,7641,0.306142,26342,9817,0.372675,0.066533
"Sharon town, Litchfield County, Connecticut",2201,823,0.373921,2323,1022,0.439948,0.066027
"Bozrah town, New London County, Connecticut",1884,415,0.220276,1880,532,0.282979,0.062703
"Thompson town, Windham County, Connecticut",6684,1251,0.187163,6885,1711,0.248511,0.061348
"Wilton town, Fairfield County, Connecticut",11363,8087,0.711696,11857,9156,0.772202,0.060506
"Newtown town, Fairfield County, Connecticut",17701,8905,0.503079,18888,10618,0.562156,0.059077
"Salisbury town, Litchfield County, Connecticut",2970,1590,0.535354,2621,1558,0.594430,0.059076
...,...,...,...,...,...,...,...
"Clinton town, Middlesex County, Connecticut",9371,3480,0.371358,9834,3443,0.350112,-0.021247
"Thomaston town, Litchfield County, Connecticut",5513,1410,0.255759,5455,1276,0.233914,-0.021845
"Columbia town, Tolland County, Connecticut",3953,1523,0.385277,3826,1378,0.360167,-0.025110
"Windham town, Windham County, Connecticut",14288,2842,0.198908,14853,2547,0.171481,-0.027428
"North Stonington town, New London County, Connecticut",3900,1449,0.371538,3708,1275,0.343851,-0.027687
"Old Lyme town, New London County, Connecticut",5489,3028,0.551649,5621,2944,0.523750,-0.027899
"Burlington town, Hartford County, Connecticut",6039,2896,0.479550,6416,2892,0.450748,-0.028801
"Norwich town, New London County, Connecticut",26909,5514,0.204913,27389,4759,0.173756,-0.031157
"Tolland town, Tolland County, Connecticut",9679,4627,0.478045,10053,4449,0.442554,-0.035491
"Sherman town, Fairfield County, Connecticut",2540,1402,0.551969,2633,1358,0.515761,-0.036207
"Ansonia town, New Haven County, Connecticut",12959,2607,0.201173,12855,2100,0.163361,-0.037812
"Lisbon town, New London County, Connecticut",3021,645,0.213505,3078,540,0.175439,-0.038067
"Somers town, Tolland County, Connecticut",8101,2557,0.315640,8206,2257,0.275043,-0.040597
"Salem town, New London County, Connecticut",2916,1347,0.461934,2788,1173,0.420732,-0.041202
"Killingworth town, Middlesex County, Connecticut",4547,2210,0.486035,4680,2059,0.439957,-0.046077
"Voluntown town, New London County, Connecticut",1872,466,0.248932,1839,370,0.201196,-0.047735
"Chaplin town, Windham County, Connecticut",1688,508,0.300948,1573,397,0.252384,-0.048564
"Bloomfield town, Hartford County, Connecticut",15058,5795,0.384845,16246,5452,0.335590,-0.049255
"Willington town, Tolland County, Connecticut",3343,1294,0.387077,3841,1274,0.331684,-0.055393
"Sterling town, Windham County, Connecticut",2608,441,0.169095,2517,273,0.108462,-0.060633
"Eastford town, Windham County, Connecticut",1158,425,0.367012,1286,387,0.300933,-0.066079
"Hartland town, Hartford County, Connecticut",1413,556,0.393489,1565,512,0.327157,-0.066332
"Brookfield town, Fairfield County, Connecticut",10846,5947,0.548313,11477,5504,0.479568,-0.068745
"Easton town, Fairfield County, Connecticut",4772,3141,0.658215,5264,3040,0.577508,-0.080707
"Sprague town, New London County, Connecticut",2109,627,0.297297,2197,471,0.214383,-0.082914
"Hampton town, Windham County, Connecticut",1373,583,0.424618,1385,436,0.314801,-0.109816
"County subdivisions not defined, Fairfield County, Connecticut",0,0,NaN,0,0,NaN,NaN
"County subdivisions not defined, Middlesex County, Connecticut",0,0,NaN,0,0,NaN,NaN
"County subdivisions not defined, New Haven County, Connecticut",0,0,NaN,0,0,NaN,NaN
"County subdivisions not defined, New London County, Connecticut",0,0,NaN,0,0,NaN,NaN

In [147]:
jdf(ct_towns).printcols()

Id
Id2
Geography
Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Females; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Percent Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher
Percent Females; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher
Total; Estimate; Science and Engineering
Total; Margin of Error; Science and Engineering
Percent; Estimate; Science and Engineering
Percent; Margin of Error; Science and Engineering
Males; Estimate; Science and Engineering
Males; Margin of Error; Science and Engineering
Percent Males; Estimate; Science and Engineering
Percent Males; Margin of Error; Science and Engineering
Females; Estimate; Science and Engineering
Females; Margin of Error; Science and Engineering
Percent Females; Estimate; Science and Engineering
Percent Females; Margin of Error; Science and Engineering
Total; Estimate; Science and Engineering Related Fields
Total; Margin of Error; Science and Engineering Related Fields
Percent; Estimate; Science and Engineering Related Fields
Percent; Margin of Error; Science and Engineering Related Fields
Males; Estimate; Science and Engineering Related Fields
Males; Margin of Error; Science and Engineering Related Fields
Percent Males; Estimate; Science and Engineering Related Fields
Percent Males; Margin of Error; Science and Engineering Related Fields
Females; Estimate; Science and Engineering Related Fields
Females; Margin of Error; Science and Engineering Related Fields
Percent Females; Estimate; Science and Engineering Related Fields
Percent Females; Margin of Error; Science and Engineering Related Fields
Total; Estimate; Business
Total; Margin of Error; Business
Percent; Estimate; Business
Percent; Margin of Error; Business
Males; Estimate; Business
Males; Margin of Error; Business
Percent Males; Estimate; Business
Percent Males; Margin of Error; Business
Females; Estimate; Business
Females; Margin of Error; Business
Percent Females; Estimate; Business
Percent Females; Margin of Error; Business
Total; Estimate; Education
Total; Margin of Error; Education
Percent; Estimate; Education
Percent; Margin of Error; Education
Males; Estimate; Education
Males; Margin of Error; Education
Percent Males; Estimate; Education
Percent Males; Margin of Error; Education
Females; Estimate; Education
Females; Margin of Error; Education
Percent Females; Estimate; Education
Percent Females; Margin of Error; Education
Total; Estimate; Arts, Humanities and Others
Total; Margin of Error; Arts, Humanities and Others
Percent; Estimate; Arts, Humanities and Others
Percent; Margin of Error; Arts, Humanities and Others
Males; Estimate; Arts, Humanities and Others
Males; Margin of Error; Arts, Humanities and Others
Percent Males; Estimate; Arts, Humanities and Others
Percent Males; Margin of Error; Arts, Humanities and Others
Females; Estimate; Arts, Humanities and Others
Females; Margin of Error; Arts, Humanities and Others
Percent Females; Estimate; Arts, Humanities and Others
Percent Females; Margin of Error; Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 25 to 39 years
Total; Margin of Error; DETAILED AGE - 25 to 39 years
Percent; Estimate; DETAILED AGE - 25 to 39 years
Percent; Margin of Error; DETAILED AGE - 25 to 39 years
Males; Estimate; DETAILED AGE - 25 to 39 years
Males; Margin of Error; DETAILED AGE - 25 to 39 years
Percent Males; Estimate; DETAILED AGE - 25 to 39 years
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years
Females; Estimate; DETAILED AGE - 25 to 39 years
Females; Margin of Error; DETAILED AGE - 25 to 39 years
Percent Females; Estimate; DETAILED AGE - 25 to 39 years
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years
Total; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering
Total; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 25 to 39 years - Business
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Males; Estimate; DETAILED AGE - 25 to 39 years - Business
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Females; Estimate; DETAILED AGE - 25 to 39 years - Business
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Business
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Business
Total; Estimate; DETAILED AGE - 25 to 39 years - Education
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Males; Estimate; DETAILED AGE - 25 to 39 years - Education
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Females; Estimate; DETAILED AGE - 25 to 39 years - Education
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Education
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Education
Total; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Females; Estimate; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Percent Females; Margin of Error; DETAILED AGE - 25 to 39 years - Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 40 to 64 years
Total; Margin of Error; DETAILED AGE - 40 to 64 years
Percent; Estimate; DETAILED AGE - 40 to 64 years
Percent; Margin of Error; DETAILED AGE - 40 to 64 years
Males; Estimate; DETAILED AGE - 40 to 64 years
Males; Margin of Error; DETAILED AGE - 40 to 64 years
Percent Males; Estimate; DETAILED AGE - 40 to 64 years
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years
Females; Estimate; DETAILED AGE - 40 to 64 years
Females; Margin of Error; DETAILED AGE - 40 to 64 years
Percent Females; Estimate; DETAILED AGE - 40 to 64 years
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years
Total; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering
Total; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 40 to 64 years - Business
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Males; Estimate; DETAILED AGE - 40 to 64 years - Business
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Females; Estimate; DETAILED AGE - 40 to 64 years - Business
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Business
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Business
Total; Estimate; DETAILED AGE - 40 to 64 years - Education
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Males; Estimate; DETAILED AGE - 40 to 64 years - Education
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Females; Estimate; DETAILED AGE - 40 to 64 years - Education
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Education
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Education
Total; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Females; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Percent Females; Margin of Error; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others
Total; Estimate; DETAILED AGE - 65 years and over
Total; Margin of Error; DETAILED AGE - 65 years and over
Percent; Estimate; DETAILED AGE - 65 years and over
Percent; Margin of Error; DETAILED AGE - 65 years and over
Males; Estimate; DETAILED AGE - 65 years and over
Males; Margin of Error; DETAILED AGE - 65 years and over
Percent Males; Estimate; DETAILED AGE - 65 years and over
Percent Males; Margin of Error; DETAILED AGE - 65 years and over
Females; Estimate; DETAILED AGE - 65 years and over
Females; Margin of Error; DETAILED AGE - 65 years and over
Percent Females; Estimate; DETAILED AGE - 65 years and over
Percent Females; Margin of Error; DETAILED AGE - 65 years and over
Total; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Total; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Percent Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering
Total; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Total; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Males; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Females; Estimate; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Science and Engineering Related Fields
Total; Estimate; DETAILED AGE - 65 years and over - Business
Total; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent; Estimate; DETAILED AGE - 65 years and over - Business
Percent; Margin of Error; DETAILED AGE - 65 years and over - Business
Males; Estimate; DETAILED AGE - 65 years and over - Business
Males; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent Males; Estimate; DETAILED AGE - 65 years and over - Business
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Business
Females; Estimate; DETAILED AGE - 65 years and over - Business
Females; Margin of Error; DETAILED AGE - 65 years and over - Business
Percent Females; Estimate; DETAILED AGE - 65 years and over - Business
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Business
Total; Estimate; DETAILED AGE - 65 years and over - Education
Total; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent; Estimate; DETAILED AGE - 65 years and over - Education
Percent; Margin of Error; DETAILED AGE - 65 years and over - Education
Males; Estimate; DETAILED AGE - 65 years and over - Education
Males; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent Males; Estimate; DETAILED AGE - 65 years and over - Education
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Education
Females; Estimate; DETAILED AGE - 65 years and over - Education
Females; Margin of Error; DETAILED AGE - 65 years and over - Education
Percent Females; Estimate; DETAILED AGE - 65 years and over - Education
Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Education
Total; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Total; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others
Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others

# Questions we should be able to answer:

Questions apply to both state-level for entire US and town-level for CT, 25+ population

1. How many people have bachelor's degrees? 
2. How has that changed since 2010
----
3. How many women versus men have bachelor's degrees?
4. How many people have degrees in each of the identified majors?
5. How many women versus men have bachelor's degrees in each major?
6. How many people broken down by age group have degrees?

# Table 2: Male versus females with degrees, state level, 2015

In [143]:
def male_female(df):
    ret = df.copy().set_index("Geography")
    ret = ret[["Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher",
            "Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher",
       "Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher"]]
    ret.columns= ["total","males","females"]
    ret ["diff"] = (ret["females"] - ret["males"]) / ret["total"]
    return ret
    
male_female(states).sort_values(by="diff",ascending=False)

                        total    males  females      diff
Geography
Puerto Rico            583572   220759   362813  0.243422
Mississippi            401000   176662   224338  0.118893
Vermont                157018    70335    86683  0.104115
Louisiana              685312   312129   373183  0.089089
Maine                  276161   126544   149617  0.083549
North Carolina        1866765   862481  1004284  0.075962
North Dakota           129534    60226    69308  0.070113
New York              4596124  2139701  2456423  0.068911
Kentucky               658944   308562   350382  0.063465
Arkansas               414099   194357   219742  0.061302
Maryland              1522970   714836   808134  0.061261
Alabama                761650   357552   404098  0.061112
Delaware               189362    88951   100411  0.060519
Alaska                 129921    61107    68814  0.059321
Georgia               1873484   882363   991121  0.058051
South Dakota           148801    70208    78593  0.056350
Missouri              1098909   518841   580068  0.055716
Wisconsin             1077696   509406   568290  0.054639
New Mexico             360075   170234   189841  0.054453
Tennessee             1092276   516799   575477  0.053721
South Carolina         829540   393060   436480  0.052342
Iowa                   546414   259506   286908  0.050149
Massachusetts         1867103   888304   978799  0.048468
Hawaii                 296714   141301   155413  0.047561
West Virginia          248673   118516   130157  0.046812
Connecticut            925607   441828   483779  0.045323
Illinois              2777871  1326609  1451262  0.044874
Indiana               1040256   498108   542148  0.042336
Nebraska               355836   170430   185406  0.042087
District of Columbia   247752   118887   128865  0.040274
Oklahoma               606229   290940   315289  0.040165
Minnesota             1225245   588144   637101  0.039957
New Hampshire          322746   154956   167790  0.039765
Pennsylvania          2522037  1214694  1307343  0.036736
Kansas                 580214   279667   300547  0.035987
Michigan              1791892   863809   928083  0.035869
Ohio                  2040028   985147  1054881  0.034183
Rhode Island           229817   111044   118773  0.033631
New Jersey            2241856  1084759  1157097  0.032267
Virginia              2022217   980963  1041254  0.029814
Montana                203448    98778   104670  0.028961
Oregon                 835057   407723   427334  0.023485
Texas                 4623216  2263481  2359735  0.020820
Wyoming                 98800    48480    50320  0.018623
Florida               3780148  1855351  1924797  0.018371
California            7939184  3906345  4032839  0.015933
Colorado              1342007   663775   678232  0.010773
Washington            1552130   778474   773656 -0.003104
Arizona               1199010   601542   597468 -0.003398
Nevada                 433498   217781   215717 -0.004761
Idaho                  266589   137315   129274 -0.030163
Utah                   521037   279901   241136 -0.074400

# Table 2: Male versus females with degrees, town level, 2015

In [145]:
male_female(ct_towns).sort_values(by="diff",ascending=False)

,total,males,females,diff
Geography,,,,
"Thomaston town, Litchfield County, Connecticut",1276,442,834,0.307210
"Winchester town, Litchfield County, Connecticut",1744,614,1130,0.295872
"Plainfield town, Windham County, Connecticut",1683,618,1065,0.265597
"North Canaan town, Litchfield County, Connecticut",478,177,301,0.259414
"Hampton town, Windham County, Connecticut",436,162,274,0.256881
"Canterbury town, Windham County, Connecticut",845,329,516,0.221302
"Beacon Falls town, New Haven County, Connecticut",1309,518,791,0.208556
"Preston town, New London County, Connecticut",789,313,476,0.206591
"Griswold town, New London County, Connecticut",1499,597,902,0.203469
"Lisbon town, New London County, Connecticut",540,219,321,0.188889
"East Windsor town, Hartford County, Connecticut",2345,952,1393,0.188060
"Sterling town, Windham County, Connecticut",273,112,161,0.179487
"East Granby town, Hartford County, Connecticut",1759,729,1030,0.171120
"Watertown town, Litchfield County, Connecticut",4914,2037,2877,0.170940
"Andover town, Tolland County, Connecticut",892,374,518,0.161435
"Stafford town, Tolland County, Connecticut",1609,675,934,0.160970
"Voluntown town, New London County, Connecticut",370,156,214,0.156757
"Deep River town, Middlesex County, Connecticut",1261,532,729,0.156225
"Putnam town, Windham County, Connecticut",1265,535,730,0.154150
"Franklin town, New London County, Connecticut",411,174,237,0.153285
"Woodstock town, Windham County, Connecticut",2407,1023,1384,0.149979
"Plainville town, Hartford County, Connecticut",3543,1512,2031,0.146486
"Chaplin town, Windham County, Connecticut",397,170,227,0.143577
"Lebanon town, New London County, Connecticut",2182,946,1236,0.132906
"Sprague town, New London County, Connecticut",471,205,266,0.129512
"Woodbridge town, New Haven County, Connecticut",4274,1862,2412,0.128685
"Chester town, Middlesex County, Connecticut",1341,585,756,0.127517
"Canaan town, Litchfield County, Connecticut",373,163,210,0.126005
"Bethel town, Fairfield County, Connecticut",5705,2495,3210,0.125329
"North Stonington town, New London County, Connecticut",1275,558,717,0.124706
...,...,...,...,...
"Vernon town, Tolland County, Connecticut",7211,3592,3619,0.003744
"Montville town, New London County, Connecticut",3036,1520,1516,-0.001318
"Old Lyme town, New London County, Connecticut",2944,1474,1470,-0.001359
"Cromwell town, Middlesex County, Connecticut",4434,2223,2211,-0.002706
"Bolton town, Tolland County, Connecticut",1854,931,923,-0.004315
"Trumbull town, Fairfield County, Connecticut",12630,6345,6285,-0.004751
"Darien town, Fairfield County, Connecticut",10203,5129,5074,-0.005391
"South Windsor town, Hartford County, Connecticut",9206,4632,4574,-0.006300
"New Fairfield town, Fairfield County, Connecticut",4383,2207,2176,-0.007073
"Weston town, Fairfield County, Connecticut",5369,2726,2643,-0.015459
"Ridgefield town, Fairfield County, Connecticut",12300,6250,6050,-0.016260
"Killingworth town, Middlesex County, Connecticut",2059,1050,1009,-0.019913
"Avon town, Hartford County, Connecticut",8853,4518,4335,-0.020671
"Canton town, Hartford County, Connecticut",3906,1997,1909,-0.022529
"Norfolk town, Litchfield County, Connecticut",496,254,242,-0.024194
"Durham town, Middlesex County, Connecticut",2632,1348,1284,-0.024316
"Sharon town, Litchfield County, Connecticut",1022,525,497,-0.027397
"Washington town, Litchfield County, Connecticut",1434,738,696,-0.029289
"Salisbury town, Litchfield County, Connecticut",1558,803,755,-0.030809
"East Lyme town, New London County, Connecticut",6387,3324,3063,-0.040864
"Wilton town, Fairfield County, Connecticut",9156,4804,4352,-0.049367
"Colebrook town, Litchfield County, Connecticut",363,193,170,-0.063361
"Union town, Tolland County, Connecticut",229,122,107,-0.065502
"Easton town, Fairfield County, Connecticut",3040,1624,1416,-0.068421
"Roxbury town, Litchfield County, Connecticut",986,527,459,-0.068966
"Essex town, Middlesex County, Connecticut",2742,1477,1265,-0.077316
"County subdivisions not defined, Fairfield County, Connecticut",0,0,0,NaN
"County subdivisions not defined, Middlesex County, Connecticut",0,0,0,NaN
"County subdivisions not defined, New Haven County, Connecticut",0,0,0,NaN
"County subdivisions not defined, New London County, Connecticut",0,0,0,NaN

# Total degrees by degree category

In [157]:
def by_degree(df):
    
    ret = df.copy().set_index("Geography")
    
    total_prefix = "Percent; Estimate; "
    
    cols = ["Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher"]
    for d in degrees:
        cols.append(total_prefix + d)

    return ret[cols]


by_degree(states)

,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Science and Engineering,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
Geography,,,,,,
Alabama,761650,29.1,10.2,23.4,17.8,19.5
Alaska,129921,37.5,9.7,15.4,14.9,22.5
Arizona,1199010,33.2,9.3,21.6,15.1,20.8
Arkansas,414099,28.2,10.4,21.6,20.6,19.2
California,7939184,40.7,7.9,18.6,7.2,25.7
Colorado,1342007,38.6,8.0,19.9,10.4,23.2
Connecticut,925607,36.6,8.5,19.7,11.1,24.0
Delaware,189362,36.0,9.2,21.7,13.7,19.4
District of Columbia,247752,47.6,4.2,12.4,4.5,31.3
Florida,3780148,31.6,9.9,24.2,14.6,19.7
Georgia,1873484,31.9,8.7,24.6,13.8,21.0
Hawaii,296714,35.6,9.2,20.3,13.2,21.7
Idaho,266589,34.1,10.4,18.3,16.8,20.4
Illinois,2777871,32.7,9.3,21.9,13.6,22.6
Indiana,1040256,28.5,12.2,20.4,17.6,21.3
Iowa,546414,29.6,9.5,20.7,19.5,20.7
Kansas,580214,29.1,10.2,21.7,18.2,20.8
Kentucky,658944,29.2,11.1,19.9,17.6,22.1
Louisiana,685312,28.4,12.0,20.2,17.3,22.1
Maine,276161,34.1,10.1,14.5,15.6,25.7
Maryland,1522970,40.9,8.4,18.3,10.3,22.0
Massachusetts,1867103,39.6,8.2,18.2,9.5,24.5
Michigan,1791892,32.8,10.5,21.2,15.2,20.3
Minnesota,1225245,33.2,9.6,19.9,14.6,22.7
Mississippi,401000,24.9,11.9,21.8,22.4,19.0
Missouri,1098909,29.4,10.0,21.8,17.0,21.7
Montana,203448,35.0,10.8,15.5,18.9,19.8
Nebraska,355836,27.8,10.5,22.2,19.8,19.6
Nevada,433498,31.2,10.0,23.6,13.3,21.9
New Hampshire,322746,36.7,8.8,19.2,12.7,22.6
New Jersey,2241856,36.9,8.3,22.2,11.6,20.9
New Mexico,360075,36.1,8.7,15.7,16.3,23.2
New York,4596124,34.2,8.6,18.9,11.8,26.5
North Carolina,1866765,34.0,9.1,20.4,13.8,22.8
North Dakota,129534,27.7,13.4,18.9,20.8,19.1
Ohio,2040028,30.7,10.5,21.6,16.7,20.4
Oklahoma,606229,28.0,9.7,22.4,20.0,19.8
Oregon,835057,39.1,8.5,15.0,11.6,25.8
Pennsylvania,2522037,33.2,10.2,19.8,15.6,21.2
Rhode Island,229817,33.6,9.3,18.5,12.6,25.9
South Carolina,829540,31.9,8.6,22.4,15.9,21.1
South Dakota,148801,29.2,12.2,18.9,21.3,18.5
Tennessee,1092276,29.9,9.9,22.7,15.7,21.8
Texas,4623216,34.2,8.8,23.3,13.6,20.1
Utah,521037,32.8,9.6,18.7,14.9,24.0
Vermont,157018,36.9,7.7,12.2,14.3,29.0
Virginia,2022217,40.4,7.4,19.0,10.0,23.2
Washington,1552130,40.4,8.6,16.3,10.7,23.9
West Virginia,248673,28.5,12.4,18.9,21.0,19.2
Wisconsin,1077696,31.0,11.0,19.7,16.8,21.5
Wyoming,98800,34.4,9.8,14.6,21.3,19.9
Puerto Rico,583572,26.0,9.9,31.1,19.8,13.1

In [214]:
def by_age(df, degree):
    ret = df.copy().set_index("Geography")
    
    # Sample format
    # Total; Estimate; DETAILED AGE - 40 to 64 years - Arts, Humanities and Others

    total_prefix = "Percent; Estimate; DETAILED AGE - "

    ages = {
        "25_39":"25 to 39 years",
        "40_64":"40 to 64 years",
        "65+":"65 years and over"
    }
    
    cols = []
    for k in ages:
        cols.append(total_prefix + ages[k] + " - " + degree)
        
    ret = ret[[total_prefix + ages["25_39"] + " - " + degree,
               total_prefix + ages["40_64"] + " - " + degree,
               total_prefix + ages["65+"] + " - " + degree,
              ]]
    ret.columns="25_39","40-64","65+"
    return ret

print degrees
#by_age(states,"Arts, Humanities and Others")
#by_age(states,"Science and Engineering")

['Science and Engineering', 'Science and Engineering Related Fields', 'Business', 'Education', 'Arts, Humanities and Others']

In [215]:
by_age(states,"Science and Engineering").sort_values(by="25_39",).median()

25_39    35.00
40-64    32.55
65+      31.20
dtype: float64

In [216]:
by_age(states,'Science and Engineering Related Fields').sort_values(by="25_39",).median()

25_39     9.55
40-64    10.15
65+       8.40
dtype: float64

In [217]:
by_age(states,'Business').sort_values(by="25_39",).median()

25_39    19.75
40-64    21.85
65+      15.15
dtype: float64

In [298]:
by_age(states,'Education').sort_values(by="25_39",ascending=False).median()

25_39    10.25
40-64    14.80
65+      25.65
dtype: float64

In [219]:
by_age(states,"Arts, Humanities and Others").median()

25_39    25.00
40-64    20.20
65+      18.75
dtype: float64

In [246]:
def ct_table():
    dfs = []
    for degree in degrees:
        df = by_age(states,degree)
        df["Field"] = degree
        dfs.append(df[df.index=="Connecticut"].set_index("Field"))
        
    ret = pd.concat(dfs)
    ret = ret[["65+","40-64","25_39"]]
    return ret#.transpose()
ct_table()#.sort_values(by="Education",ascending=False)

                                         65+  40-64  25_39
Field
Science and Engineering                 34.8   35.5   39.8
Science and Engineering Related Fields   8.0    8.7    8.4
Business                                13.7   22.1   18.8
Education                               19.7   10.3    7.5
Arts, Humanities and Others             23.8   23.3   25.5

In [249]:
states[states["Geography"] == "Connecticut"].transpose()

                                                              6
Id                                                  0400000US09
Id2                                                           9
Geography                                           Connecticut
Total; Estimate; Total population 25 years and ...       925607
Total; Margin of Error; Total population 25 yea...         6645
Percent; Estimate; Total population 25 years an...          (X)
Percent; Margin of Error; Total population 25 y...          (X)
Males; Estimate; Total population 25 years and ...       441828
Males; Margin of Error; Total population 25 yea...         3833
Percent Males; Estimate; Total population 25 ye...          (X)
Percent Males; Margin of Error; Total populatio...          (X)
Females; Estimate; Total population 25 years an...       483779
Females; Margin of Error; Total population 25 y...         4077
Percent Females; Estimate; Total population 25 ...          (X)
Percent Females; Margin of Error; Total populat...          (X)
Total; Estimate; Science and Engineering                 339022
Total; Margin of Error; Science and Engineering            4028
Percent; Estimate; Science and Engineering                 36.6
Percent; Margin of Error; Science and Engineering           0.3
Males; Estimate; Science and Engineering                 199404
Males; Margin of Error; Science and Engineering            2846
Percent Males; Estimate; Science and Engineering           45.1
Percent Males; Margin of Error; Science and Eng...          0.5
Females; Estimate; Science and Engineering               139618
Females; Margin of Error; Science and Engineering          2233
Percent Females; Estimate; Science and Engineering         28.9
Percent Females; Margin of Error; Science and E...          0.4
Total; Estimate; Science and Engineering Relate...        78813
Total; Margin of Error; Science and Engineering...         1763
Percent; Estimate; Science and Engineering Rela...          8.5
...                                                         ...
Percent Males; Estimate; DETAILED AGE - 65 year...         20.4
Percent Males; Margin of Error; DETAILED AGE - ...          0.8
Females; Estimate; DETAILED AGE - 65 years and ...         4525
Females; Margin of Error; DETAILED AGE - 65 yea...          414
Percent Females; Estimate; DETAILED AGE - 65 ye...          6.1
Percent Females; Margin of Error; DETAILED AGE ...          0.6
Total; Estimate; DETAILED AGE - 65 years and ov...        31389
Total; Margin of Error; DETAILED AGE - 65 years...         1215
Percent; Estimate; DETAILED AGE - 65 years and ...         19.7
Percent; Margin of Error; DETAILED AGE - 65 yea...          0.7
Males; Estimate; DETAILED AGE - 65 years and ov...         7508
Males; Margin of Error; DETAILED AGE - 65 years...          493
Percent Males; Estimate; DETAILED AGE - 65 year...          8.8
Percent Males; Margin of Error; DETAILED AGE - ...          0.6
Females; Estimate; DETAILED AGE - 65 years and ...        23881
Females; Margin of Error; DETAILED AGE - 65 yea...          950
Percent Females; Estimate; DETAILED AGE - 65 ye...         32.1
Percent Females; Margin of Error; DETAILED AGE ...          1.1
Total; Estimate; DETAILED AGE - 65 years and ov...        37925
Total; Margin of Error; DETAILED AGE - 65 years...         1155
Percent; Estimate; DETAILED AGE - 65 years and ...         23.8
Percent; Margin of Error; DETAILED AGE - 65 yea...          0.7
Males; Estimate; DETAILED AGE - 65 years and ov...        16518
Males; Margin of Error; DETAILED AGE - 65 years...          697
Percent Males; Estimate; DETAILED AGE - 65 year...         19.4
Percent Males; Margin of Error; DETAILED AGE - ...          0.8
Females; Estimate; DETAILED AGE - 65 years and ...        21407
Females; Margin of Error; DETAILED AGE - 65 yea...          756
Percent Females; Estimate; DETAILED AGE - 65 ye...         28.8
Percent Females; Margin of Error; DETAILED AGE ...            1

[291 rows x 1 columns]

In [285]:
def by_gender_age(topic):
    df = states[states["Geography"] == "Connecticut"]
    genders = ["Males","Females"]
    #cols = ["Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others"]

    ages = {
        "25_39":"25 to 39 years",
        "40_64":"40 to 64 years",
        "65+":"65 years and over"
    }
    
    cols = []
    col_order = []
    for k in ages:
        col_order.append(ages[k])
        cols.append("Percent Females; Estimate; DETAILED AGE - " + ages[k] + " - " + topic)
        
    females = df[cols]

    females.columns = col_order
    females["group"] = "females"

    cols = []
    col_order = []
    for k in ages:
        col_order.append(ages[k])
        cols.append("Percent Males; Estimate; DETAILED AGE - " + ages[k] + " - " + topic)
        
    males = df[cols]
    males.columns = col_order

    males["group"] = "males"
    
    return pd.concat([males.set_index("group"),females.set_index("group")])[["65 years and over",
                                                                             "40 to 64 years",
                                                                             "25 to 39 years"
                                                                            ]]

# Tables showing gender split change among age groups for CT

In [297]:
by_gender_age("Science and Engineering").transpose()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

group              males  females
65 years and over   47.2     20.7
40 to 64 years      44.4     27.4
25 to 39 years      45.1     35.5

In [292]:
by_gender_age("Education")

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         65 years and over  40 to 64 years  25 to 39 years
group
males                  8.8             4.6             3.5
females               32.1            15.6            10.6

In [293]:
print degrees
by_gender_age('Science and Engineering Related Fields')

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

['Science and Engineering', 'Science and Engineering Related Fields', 'Business', 'Education', 'Arts, Humanities and Others']

         65 years and over  40 to 64 years  25 to 39 years
group
males                  4.2             4.9             5.1
females               12.3            12.3            11.0

In [296]:
by_gender_age('Business').transpose()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

group              males  females
65 years and over   20.4      6.1
40 to 64 years      25.7     18.8
25 to 39 years      22.5     15.9

In [295]:
by_gender_age('Arts, Humanities and Others')

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         65 years and over  40 to 64 years  25 to 39 years
group
males                 19.4            20.4            23.7
females               28.8            25.9            27.0